<div class="row">
  <div class="col-md-12 top-menu">
    <div class="pull-left">
      <label>LIJ Apps Dashboard</label>
      <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li><a href="#">Dashboard</a></li>
      </ul>

    </div>
    <div class="pull-right fixed-bell">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <!--<ul>
        <li><a href="#" id="showMsg"><i class="fa fa-bell-o" aria-hidden="true"></i></a><span class="notify_batch"></span>
          <div class="notify_panel">
            <div class="listview_header">Notifications</div>
            <ul class="notify_list">
              <li><a href="">item-1</a></li>
              <li><a href="">item-2</a></li>
              <li><a href="">item-3</a></li>
              <li><a href="">item-4</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
      </ul>-->
    </div>
  </div>
</div>

<div class="row cards">
  <div class="col-lg-3 col-md-6">
    <div class="panel">
      <div class="circle color-green">
        <i class="fa fa-share-alt" aria-hidden="true"></i>
      </div>
      <label class="lbl-count"><span>5</span><br>Branches</label>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel">
      <div class="circle color-dark-red">
        <i class="fa fa-server" aria-hidden="true"></i>
      </div>
      <label class="lbl-count"><span>4</span><br>Environments</label>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel">
      <div class="circle color-yellow">
        <i class="fa fa-sitemap" aria-hidden="true"></i>
      </div>
      <label class="lbl-count"><span>12</span><br>Servers</label>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel">
      <div class="circle color-blue">
        <i class="fa fa-life-ring" aria-hidden="true"></i>
      </div>
      <label class="lbl-count"><span>9</span><br>Applications</label>
    </div>
  </div>
</div>