<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-users"></i> Application
					<div class="pull-right">
						<input type="text" class="searchBox" id="txtSearch" placeholder="Search" />
					</div>
				</div>
				<div class="panel-body">
					<table class="table table-hover">
							<tbody>
							<tr *ngFor="let application of applications">
								<td>{{application.id}}</td>
								<td>{{application.applicationName}}</td>
								<td>{{application.applicationVersion}}</td>
								<td>{{application.installedOn}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>