<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-server"></i> Environment
					<div class="pull-right">
						<a href="#">Manage</a>
					</div>	
				</div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Description</th>
								<th>Installed On</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let environment of environments;let i = index" (click)="setClickedRow(environment)">
								<td>{{environment.id}}</td>
								<td>{{environment.name}}</td>
								<td>{{environment.description}}</td>
								<td>{{environment.installedOn}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
